$spacing: 4px;

$text-color: rgba(0, 0, 0, 0.75);
$text-font-size: 1.2rem;
$text-line-height: 1.5;
$text-font-weight: 300;

$heading-color: rgba(0, 0, 0, .9);
$heading-font-size: 5rem;
$heading-line-height: 1;
$heading-font-weight: 600;

$subheading-color: rgba(0, 0, 0, 0.9);
$subheading-font-size: 3.2rem;
$subheading-line-height: 1.2;
$subheading-font-weight: 600;

$sub-subheading-color: rgba(0, 0, 0, 0.8);
$sub-subheading-font-size: 1.2rem;
$sub-subheading-line-height: 1.2;
$sub-subheading-font-weight: 600;

$breadcrumbs-color: rgba(0, 0, 0, 0.6);
$breadcrumbs-font-size: 1rem;
$breadcrumbs-line-height: 1.5;
$breadcrumbs-font-weight: 400;

$menu-color: #000;
$menu-opacity: 0.5;
$menu-active-opacity: 0.9;
$menu-active-hover-opacity: 0.9;
$menu-hover-opacity: $menu-active-hover-opacity;
$menu-font-size: 1.5rem;
$menu-line-height: 1.5;
$menu-font-weight: 400;

$font-family: 'Inter Tight', sans-serif;

$button-color: rgba(0, 0, 0, 0.6);
$button-background: #fff;
$button-hover-color: rgba(0, 0, 0, 0.9);
$button-border-size: 2px;