$spacing: 4px;

$text-color: rgba(0, 0, 0, 0.6);
$text-font-size: 1.5rem;
$text-line-height: 1.5;
$text-font-weight: 300;

$heading-color: rgba(0, 0, 0, 0.8);
$heading-font-size: 3rem;
$heading-line-height: 1.5;
$heading-font-weight: 500;

$subheading-color: rgba(0, 0, 0, 0.8);
$subheading-font-size: 2rem;
$subheading-line-height: 1.5;
$subheading-font-weight: 400;

$breadcrumbs-color: rgba(0, 0, 0, 0.6);
$breadcrumbs-font-size: 1rem;
$breadcrumbs-line-height: 1.5;
$breadcrumbs-font-weight: 400;

$menu-color: #000;
$menu-opacity: 0.4;
$menu-active-opacity: 0.6;
$menu-active-hover-opacity: 0.8;
$menu-hover-opacity: $menu-active-hover-opacity;
$menu-font-size: 1.5rem;
$menu-line-height: 1.5;
$menu-font-weight: 400;

$font-family: 'Open Sans', sans-serif;

$button-color: #999;
$button-background: #fff;
$button-hover-color: #222;
$button-border-size: 2px;